
.error {
    border: red 1px solid;
}

.errorMessage {
    color: red;
}

.activeFilter {
    background-color: #00d4ff;
    border: black solid 3px;
}

.isDone {
    opacity: 0.2;
}

.error:focus {
    outline: none;
}

